/* importamos la fuente */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f6fafc;
}

/* SECCION I N I C I O */
.inicio{
background: linear-gradient(90deg, #6d09c5b5,#ecb9779c,#bf5bfec7);                                            
    clip-path: polygon(0 0, 100% 0, 100% 46%, 47% 84%, 0 45%);
    height: 90vh;
    padding:  0 20px;
}
.inicio .contenido{
    max-width: 1100px;
    margin: auto;
    color: #fff;
}
.inicio header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.inicio .logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.inicio .logo span{
    display: flex;
    align-items: center;
    color: #ecba77;
    font-size: 37px;
    display: inline-block;
    margin-right: 20px
}
.inicio .logo i{
    display: inline-block;
    margin-right: 20px;
}
#inicio header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}
#inicio header nav a:hover{
    border-bottom: 2px solid #6d09c5b5;
}
.inicio .redes {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.inicio .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-flex; 
    margin: 0 20px; 
    align-items: center; 
    font-size: 30px; 
}

.inicio .redes a:hover {
    color: #ecb9779c; /* Color cuando se pasa el mouse por encima */
}

.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}
.inicio .fila .col{
    width: 50%;
}
.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.inicio .fila .col p{
    margin-bottom: 20px;
}

.inicio .fila .col .contenedor-img {
    max-width: 100%; /* Usa el 100% para máxima responsividad */
    margin-top: -50px;
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
    display: flex; /* Usar flexbox para centrar la imagen */
    justify-content: center; /* Alineación horizontal */
    align-items: center; /* Alineación vertical, si es necesario */
}

.inicio .fila .col .contenedor-img img {
    width: 100%; /* Hace la imagen completamente responsive dentro de su contenedor */
    max-width: 250px; /* No permite que la imagen sea más ancha de 250px */
    height: auto; /* Mantiene la proporción de la imagen */
}


img{
    mask-image: linear-gradient();
    
    
}

/*@keyframes imgg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }

}*/

.inicio .fila .col button{
    background: none;
    width: fit-content;
    padding: 5px 40px;
    border: 2px solid #ff5b00;
    color: #fff;
    background:linear-gradient(to right, #ff5b00, #ff9900);
    transition: .5s;
    cursor: pointer;
}
.inicio .fila .col button:hover{
    transform: scale(1.1);
}
#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}
#icono-nav:hover{
    background-color: #3e3e3e;
}
.sombra{
    filter:drop-shadow(0em 30px 20px #9bd2f4);
}
/* SECCION S E R V I C I O S */
.servicios {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
    z-index: 10;
    
}
.servicios .fila {
    display: flex;
    justify-content: space-between; /* Asegúrate de que los elementos están espaciados uniformemente */
    margin-bottom: 50px;
    flex-wrap: wrap; /* Permite que las columnas se ajusten según el ancho del dispositivo */
   
}
.servicios .fila .col {
    text-align: center;
    width: 30%; /* Ajusta esto para controlar el ancho de cada columna */
    min-width: 300px; /* Asegura que las columnas no se vuelvan demasiado pequeñas en dispositivos más pequeños */
}
.servicios .fila .col .card {
    border: 1px solid #8d8d8d;
    min-height: 400px; /* Configura una altura mínima en lugar de una fija */
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden; /* Considera ajustar esto si quieres que el contenido que sobrepase se muestre */
}

.servicios .icono{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 48px;
}

.servicios h3{
    margin-bottom: 20px;
    color: #bf5bfec7
    
}
.color1{
    /*background: linear-gradient(90deg, #6d09c59c,#bf5bfec7);*/
}
.servicios .card p{
    color: #000000;
    line-height: 28px;
    font-size: 12px;
}
.servicios .card a{
    text-decoration: none;
    color: #008cff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* seccion HABILIDADES */
.habilidades{
    /*background: linear-gradient(90deg, #6d09c5b5,#ecb9779c,#bf5bfec7);*/
    background: linear-gradient(90deg, #6d09c5b5, #ecb9779c, #bf5bfec7);
    color: #fff;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    top: -150px; /* Ajustar este valor si hay mucho espacio con la sección superior */
   
}
/*.habilidades:before, .habilidades:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    background-repeat: repeat-x;
    background-size: cover;
    z-index: -1;
}

.habilidades:before {
    top: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 20' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%236d09c5;stop-opacity:0.71' /%3E%3Cstop offset='50%25' style='stop-color:%23ecb977;stop-opacity:0.71' /%3E%3Cstop offset='100%25' style='stop-color:%23bf5bfec7' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0 10 Q 15 0, 30 10 T 60 10 T 90 10 T 120 10 V20 H0 Z' fill='url(%23grad1)'/%3E%3C/svg%3E");
}

.habilidades:after {
    bottom: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 20' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%236d09c5;stop-opacity:0.71' /%3E%3Cstop offset='50%25' style='stop-color:%23ecb977;stop-opacity:0.71' /%3E%3Cstop offset='100%25' style='stop-color:%23bf5bfec7' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0 10 Q 15 20, 30 10 T 60 10 T 90 10 T 120 10 V0 H0 Z' fill='url(%23grad1)'/%3E%3C/svg%3E");
}*/

.habilidades h2{
    text-align: center;
}
.habilidades .contenedor-habi{
    max-width: 1100px;
    margin: auto;
    color: #000;
    
}
.habilidades .button-group {
    text-align: center;
    margin-top: 50px;
    
}

.habilidades .button {
    display: inline-block;
    background-color: #6d09c5;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
   
}

.habilidades .button:hover {
    background-color: #ecb977;
}

.habilidades .fila{
    display: flex;
    justify-content: space-around;
}
.score{
    padding: 10px;
    margin: auto 0;
}
.score .box{
    width: 100%;
}
.score .box h2{
    display: block;
    text-align: center;
}
.score .box .chart{
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    line-height: 160px;
    font-size: 40px;
    text-align: center;
}

/* Esta clase se genera dinámicamente por la librera para graficos */
.score .box canvas{
    position:absolute;
    top: 0;
    left: 0;
}
/* SECCION T R A B A J O S */
.trabajos{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    
}
.trabajos h2{
    text-align: center;
}
.trabajos nav{
    text-align: center;
    margin: 30px 0;
   
}
.trabajos nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color:  #ecb977;;
    font-weight: bold;
    padding: 3px 10px;
    border: 3px solid transparent;
}
.trabajos nav a:hover{
    border: 3px solid #6d09c58b;
}
/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde{
    border: 3px solid #6d09c58b !important;  
}
.trabajos .galeria .item img{
    width: 100%;
    height: 100%;
    display: block;
}
.trabajos .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap:30px;
}
.trabajos .galeria .item{
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d ;
    border-radius: 10px;
}
.trabajos .galeria .item .info{
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color:#fff ;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}
.trabajos .galeria .item .info h3{
    color: #000;
    margin-bottom: 20px;
}
.trabajos .galeria .item .info span{
    color: #8d8d8d;
    display: inline-block;
    border: 2px solid #8d8d8d;
    margin: 0 3px;
    padding:  0 5px;
}
.trabajos .galeria .item .info a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #000000;
    
    font-size: medium;
}
.trabajos .galeria .item:hover .info{
    opacity: 1;
    top: 0;
}
/* SECCIÓN C O N T A C T O */
.contacto{
    background: linear-gradient(90deg, #6d09c5b5, #ecb9779c, #bf5bfec7),
        url(img/foto-contacto.png);
        background-size: cover;
        color: #fff;
        margin-top: 100px;
        padding: 80px 20px;
}
.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    text-align: center;
    padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}
.contacto .contenedor-contacto .fila .col{
    width: 50%;
}
.contacto .contenedor-contacto .info{
    margin-bottom: 30px;
    border-left: 3px solid #ecb977;
    padding-left: 8px;
}
.contacto .contenedor-contacto .info a{
    text-decoration: none;
    color: #fff;
    display: inline-flex; 
    margin: 0 20px; 
    align-items: center; 
    font-size: 30px;
}
.contacto input, .contacto textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #000000 ;
    margin-bottom: 20px;
    outline: none;
    color: #000000;
}
.contacto .btn{
    background-color: none;
    padding: 5px 40px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ecb977,#ecb977);
}

footer{
    background: linear-gradient(90deg, #6d09c5b5,#ecb9779c,#bf5bfec7);   
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:1180px){
    .inicio{
        clip-path: none;
    }
}
@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }

    .servicios{
        position: static;
        padding: 20px;
    }
    .servicios .fila{
        display: block;
        margin-bottom: 0;
    }
    .servicios .fila .col{
        width: 70%;
        margin: auto;
    }
    .servicios .fila .col .card{
        margin-bottom: 20px;
    }
    .habilidades{
        position: static;
    }

    .trabajos nav a{
        margin: 0 5px;
    }

    .contacto .fila{
        display:  block !important;
    }
    .contacto .fila .col{
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info{
        float: left;
        font-size: 12px;
        width: 25%;
    }
}
/*----------------------------------------------------------------------------------*/
/* CSS para hacer la imagen principal del encabezado responsive */

.elements{}
.elements-three li, .elements-four li{margin-bottom:50px;}
.elements-three li:nth-last-child(-n+3), .elements-four li:nth-last-child(-n+4){margin-bottom:0;}
.elements-three li:nth-child(3n+1), .elements-four li:nth-child(4n+1){margin-left:0; clear:left;}
.elements article{display:block; padding:30px 15px; border-radius:50px 0; text-align:center;}
.elements article *{margin:0 0 15px 0; padding:0; line-height:1;}
.elements article i{width:60px; height:60px; line-height:60px; margin-bottom:30px; font-size:1.6rem; text-align:center; border-radius:50%;}
.elements article .heading{font-size:1.2rem; font-weight:700;}
.elements article p{margin:0; line-height:normal;}

.pr-charts{}
.pr-charts .pr-chart-ctrl{display:block; float:left; width:25%; min-height:200px;}
.pr-charts .pr-chart-ctrl .pr-chart{display:block; position:relative; width:100%; margin:0 0 20px 0; text-align:center;}
.pr-charts .pr-chart-ctrl .pr-chart canvas{display:block; margin:0 auto; padding:0; vertical-align:top;}
.pr-charts .pr-chart-ctrl .pr-chart i{position:absolute; top:0; left:0; width:100%; height:200px; line-height:200px; font-size:18px; font-style:normal;}/* Must have same height & line height as set in the javascript size element to vertical align centre */
.pr-charts .pr-chart-ctrl p{margin:0; padding:0; text-transform:uppercase; text-align: center;}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;color: #000;}

.sectiontitle *{margin:0;}
@media screen and (min-width:451px) and (max-width:900px){
	.pr-charts .pr-chart-ctrl{width:50%; margin-bottom:50px;}
	.pr-charts .pr-chart-ctrl:nth-child(n+3){margin-bottom:0;}
    .habilidades:before, .habilidades:after {
        height: 15px; /* Reducir la altura de la onda */
        background-size: auto 15px; /* Ajustar el tamaño del fondo para mantener la proporción */
    }
}

@media screen and (max-width:450px){
	.pr-charts .pr-chart-ctrl{width:100%; margin-bottom:50px;}
	.pr-charts .pr-chart-ctrl:last-child{margin-bottom:0;}
  
	#testimonials article figure img{float:none; margin:0 0 20px 0;}
	#testimonials article figure figcaption{float:none; margin:0; text-align:center;}
    .habilidades:before, .habilidades:after {
        height: 10px; /* Reducir aún más la altura de la onda */
        background-size: auto 10px; /* Ajustar el tamaño del fondo para mantener la proporción */
    }
}




#introblocks{display:block; position:relative; margin:-160px 0 130px 0; z-index:1;}
#services{}
#services .elements article{border-radius:0;}
